@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=vietnamese');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border: 0;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table{
border-collapse: collapse;
border-spacing: 0;
}

body{
font-family:'Noto Sans',sans-serif;
font-weight:normal;
background-color:#F1F1F1;
background-image:url("../images/topography.png");

}

header{
position:relative;
background-color:#455D59;
width:100%;
height:200px;
top:0;
display:block;
background-repeat:no-repeat;
background-size: cover;
}

header h1{
position:relative;  
color:#F0CF8F;
background-color:#000000;
width:50%;
font-family:'Noto Sans',sans-serif;
text-align:center;
top:20px;
padding:10px;
font-weight:700;
letter-spacing:2px;
margin:0px auto 0px auto;
border-top: 5px solid #F0CF8F;
border-bottom: 5px solid #F0CF8F;
}



.navAndLog{
  position:relative;
  margin-top:130px;
  background-color: #000000;
  padding:20px;
  box-shadow: 5px 5px 5px #888888;
}

#mainNav{
position:relative;
margin:0px auto 0px auto;

}
#mainNav ul{

text-align:center;
}
#mainNav ul li{
list-style-type:none;
display:inline;
}
#mainNav ul li a{
color:#FFFFFF;
font-family:'Noto Sans',sans-serif;
font-weight:300;
text-align:center;  
font-size:15pt;
margin-left:15px;
padding: 8px;
}
#mainNav ul li a:hover{
color:#F0CF8F;
text-decoration:none;
}
#mainNav ul li a.active{
color:#E8BE74;
border-bottom:5px solid #E8BE74;
}


.loging{ 
  float:right;
}

.loging button{
color:#FFFFFF;
width:120px;
line-height:5px;  
padding:13px 16px;
text-transform:uppercase;
font-size:12px;
border-radius:50px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
margin-left:7px;
transition:all .5s ease;
-webkit-transition:all 1s ease;
-moz-transition:all 1s ease;
border:2px solid #FFFFFF;
background-color:transparent;
}



.loging button:hover{
color:#34403c;
background-color:#F0CF8F ;
font-weight:700;
letter-spacing: 1px;
}


#logIn{

}

#signUp{


}



#mobileMenuOpen{
display:none;

}

#mobileMenuClose{
display:none;
}



#whoAreWe{
margin-top:150px;
width:75%;
}
#whoAreWeIntro{
background-color:#455D59;
height:300px;
margin-left:0px;
}

#whoAreWeIntro h2{
color:white;
text-align:center;
margin-top: 10px;
}
#whoAreWeIntro p{
color:white;
text-align:left;
margin-top: 30px;
line-height: 24px;

}



/** CAROUSEL fade **/

#featured{
width:470px;
height:300px;
background-color: #33403B;
/**   background-image:url("../images/main.jpg");**/
background-repeat:no-repeat;
padding: 0px;

}

.carousel.fade{
  opacity: 1;
}

.carousel-inner{


}

.carousel.fade .item{
transition:opacity ease-out .7s;
left: 0;
opacity: 0;
top: 0;
position: absolute;
width:470px;
display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 1;
  position: relative;

}
.carousel.fade .item.active {
  opacity: 1;
}

#featured.item{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#whyUs{
background-color: #ffffff;
margin-top:50px;
margin-bottom:0px;
}



#whyUsDesc h2{
	color:#33403B;
	text-align:center;
	margin-top:15px;
	font-size: 240%;
 
}

#whyUsDesc p{
color:#33403B;
text-align:left;
width:80%;	
margin:0px auto 0px auto;
margin-top: 15px;
line-height: 25px;
font-weight: 300;
}

#whyUsReasons{
margin-top:30px;
}

.reasonBlock{
background-color:#33403B;
padding:10px;
height:320px;
}

.reasonBlock img{
display:block;
margin: 0px auto 0px auto;
}
.reasonBlock h2{
color:white;
text-align:center;
}
.reasonBlock p{
color:white;

font-weight: 300;
font-size: 10pt;
margin-top: 10px;

}

.reasonBlockMiddle {
 background-color:#ffffff;
 padding: 10px;
 border: 1px solid #33403B;
 height: 320px;

}
.reasonBlockMiddle img{
display: block;
margin: 0px auto 0px auto;
}
.reasonBlockMiddle h2{
text-align:center;
}
.reasonBlockMiddle p{
font-weight:300 ;
margin-top: 10px;
}


#call{
margin-top:0px;
margin-bottom:50px; 
}
#call h2{

color:#33403B;
text-align:center;
}

#call img{
cursor: pointer;
}

footer{
background-color:#33403B;
height:250px;
padding-top:15px;
}


.footerContents{
width:50%;
margin:0px auto 0px auto;
margin-bottom: 0px;
}

.footerButtons{
width: 100%;
margin: 0px auto 0px auto;
margin-top: 10px;
}
.footerButtons button{
color:white;
    width: 180px;
    line-height: 9px;  padding: 13px 16px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin-left: 70px;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.footerButtons button:hover{
color:#34403c;
background-color:#F0CF8F ;
font-weight:700;
letter-spacing: 1px;
}

.footerContents p{
color:white;
margin-top: 15px;
text-align: center;
}


@media (max-width:700px){
  

    
}


@media  only screen and (max-width: 480px){
   

    header{
    	height:180px;
    }
 header h1{
 	position:relative;
  
   width:100%;
   font-size:15pt;
   top: 25px;
 }

 #mainNav{
  display:none;
 } 

 #mobileMenuOpen{
 margin-top:50px;
display:block;
text-align: center;
}
#mobileMenuOpen a{
color:white;
font-weight:700;
font-size:35pt;

}

#mobileMenuClose{
position:absolute;
width: 100%;
display:none;
background-color:#455D59;
z-index:1546;
transition: all 2s ease;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
}
#mobileMenuClose ul{

}

#mobileMenuClose li{
text-align:center;
margin-top:10px;
font-size:25pt;
}


#mobileMenuClose li a{
color:#F1F1F1;
font-weight:300;
}



#mobileMenuClose li a.active{
  color:#F0CF8F;
text-decoration:underline;
}

a#closeButton{

}
#whoAreWe{
margin-top:50px;
width:100%;

}
#whoAreWeIntro{
background-color:#ffffff;
}
#whoAreWeIntro h2{
color:#34403c;
}
#whoAreWeIntro p{
color:#34403c;
}
#featured{
margin-top:50px;
width:100%;
height:250px;
}
#whyUsDesc{
margin-bottom:0px;
}
#whyUsDesc p{
display:none;
}
.reasonBlock{
  height:200px;
  padding:0px;
 }
.reasonBlock img{
  width:100px;
 }
 .reasonBlock h2{
   
   position:relative;
   font-size:13pt;
   font-weight:400;
   width:100%;
   top:30px;
 }
 .reasonBlock p{
   display:none;
 }

  .reasonBlockMiddle {
    height:200px;
    padding:0px;
    border: 0px;
 }

 .reasonBlockMiddle h2{
 	position:relative;
   font-size:12pt;
   font-weight:700;
   width:100%;
   top:30px;
 }
  
  .reasonBlockMiddle img{
   width:100px;
 }
 .reasonBlockMiddle p{
   display:none;
 }



 #call  h2{
  font-size:11pt;
 }

 #call img{
  width: 110px;
 }




 /**footer contents **/

.footerContents{
width:100%;
}


.footerButtons button{
 width:130px;
 margin-left:10px;
 font-size:7pt;
}

#termsButton{
width:130px;
float:left;
}

#privacyButton{
width:130px;
float:right;
}


.footerButtons button:hover{
color:#34403c;
background-color:#F0CF8F;
font-weight:700;
letter-spacing: 1px;
}

.footerContents p{
font-size:75%;
}


 
}
