@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=vietnamese');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border: 0;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
body{
font-family:'Noto Sans',sans-serif;
font-weight:normal;
background-color:#F1F1F1;
background-image:url("../images/topography.png");

}
header{
position:relative;

background-color:#455D59;

width:100%;
height:200px;
top:0;
display:block;
background-repeat:no-repeat;
background-size: cover;

}
header h1{
position:relative;	
color:#F0CF8F;
width:50%;
font-family:'Noto Sans',sans-serif;
background-color:#000000;
text-align:center;
top:5px;
font-weight:700;
letter-spacing:2px;
margin:0px auto 0px auto;
padding:10px;
border-top: 5px solid #F0CF8F;
border-bottom: 5px solid #F0CF8F;
}

#titleWidth{
position:relative;
display: none;
width:250px;
background-color:#F0CF8F;
font-size:10%;
height:15px;
top: 10px;
margin:0px auto 0px auto;
}

#mobileMenuOpen{
display:none;

}

#mobileMenuClose{
display:none;
}



.navAndLog{
  position:relative;
  margin-top:130px;
  background-color: #000000;
  padding:20px;
  box-shadow: 5px 5px 5px #888888;
}

#mainNav{
position:relative;
margin:0px auto 0px auto;

}
#mainNav ul{

text-align:center;
}
#mainNav ul li{
list-style-type:none;
display:inline;
}
#mainNav ul li a{
color:#FFFFFF;
font-family:'Noto Sans',sans-serif;
font-weight:300;
text-align:center;  
font-size:15pt;
margin-left:15px;
padding: 8px;
}
#mainNav ul li a:hover{
color:#F0CF8F;
text-decoration:none;
}
#mainNav ul li a.active{
color:#E8BE74;
border-bottom:5px solid #E8BE74;
}


.loging{ 
  float:right;
}

.loging button{
color:#FFFFFF;
width:120px;
line-height:5px;  
padding:13px 16px;
text-transform:uppercase;
font-size:12px;
border-radius:50px;
-webkit-border-radius:100px;
-moz-border-radius:100px;
margin-left:7px;
transition:all .5s ease;
-webkit-transition:all 1s ease;
-moz-transition:all 1s ease;
border:2px solid #FFFFFF;
background-color:transparent;
}



.loging button:hover{
color:#34403c;
background-color:#F0CF8F ;
font-weight:700;
letter-spacing: 1px;
}

/**Process 1 styling **/

#process1{
margin-top:40px;
}

#process1 h1{
color:#F0CF8F;
background-color:#000000;
padding:10px;
width:50%;
margin:0px auto 0px auto;
text-align:center;
font-weight: 400;
font-size: 20pt;
border-left:25px solid #F0CF8F;
border-right:25px solid #F0CF8F;
text-transform:uppercase;
}

#process1 h1:hover{
color:#ffffff;
border-left:25px solid #B28734;
border-right:25px solid #B28734;
  }



.process1Part{
background-color:white;
margin-left:50px;
margin-top:30px;
padding:0px;
height:350px;
overflow:hidden;
}


 .process1Part h2.numbering{
position:relative;
left:0px;
top:20px;
display:inline;
color:#33403B;
font-weight:700;
font-size:35pt;
background-color:#FFFFFF;
border:12px solid #F1F1F1;
padding: 5px;
}

.process1Part h2.numbering:hover{
color:#B28734; 
  }

.process1Part h2.processTitle{
position:relative;
display:inline;
color:#B28734;
width:50%;
text-align: center;
top:10px;
left:30px;
font-weight:700;
font-size:30pt;
}



.process1Part img{
position:relative;
width:20%;
float:right;

top:-20px ;
}


.process1Part p{
position:relative;
margin:60px 50px 20px 50px;
color:#000000;
word-spacing:2px;
line-height: 2;
}

/*slider for categories */

#categories{
margin-top:50px;
}

.category{
background-color:#ffffff;
padding:30px;
margin-top:50px;
}

.lightbox{

}

.lightboxMain{

}

.lightboxMain img{

}

.lightboxThumbs{
margin-top:15px;
}

.lightboxThumbs img{
width:120px;margin-right: 10px;cursor: pointer;border:1px solid black;
}

.catDesc{
position:relative;
top:10px;
width:55%;
height:350px;
}

.catDesc h2{
  position:relative;
  left:10px;
  font-size:28pt;
}

.catDesc p{
position:relative;
padding:5px;
margin: 0px auto 0px auto;
margin-top: 10px;

width:600px;
text-align:left;
word-spacing:normal;
line-height: 2;
}

.catDesc button{
position:relative;
top:50px;
left:180px;
color:white;
width:180px;
line-height:15px;  
padding:13px 16px;
text-transform:uppercase;
font-size:25px;
font-weight:700;
border-radius:50px;
-webkit-border-radius:50px;
-moz-border-radius:50px;
transition:all .5s ease;
-webkit-transition:all 1s ease;
-moz-transition:all 1s ease;
border:2px solid #FFFFFF;
background-color:#33403B;  
}

.catDesc button:hover{
color:#33403B;
background-color:#F0CF8F;
}











#call{
margin-top:0px;
margin-bottom:50px; 
}
#call h2{

color:#33403B;
text-align:center;
}

#call img{
cursor: pointer;
}

footer{
background-color:#33403B;
height:250px;
padding-top:15px;
}


.footerContents{
width:50%;
margin:0px auto 0px auto;
margin-bottom: 0px;
}

.footerButtons{
width: 100%;
margin: 0px auto 0px auto;
margin-top: 10px;
}
.footerButtons button{
color:white;
    width: 180px;
    line-height: 9px;  padding: 13px 16px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin-left: 70px;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.footerButtons button:hover{
color:#34403c;
background-color:#F0CF8F ;
font-weight:700;
letter-spacing: 1px;
}

.footerContents p{
color:white;
margin-top: 15px;
text-align: center;
}


@media (max-width:700px){
  

    
}


@media  only screen and (max-width: 480px){
   
header{
    	height:180px;
    }
 header h1{
 	position:relative; 
   width:100%;
   font-size:15pt;
   top: 25px;
 }

 #mainNav{
  display:none;
 } 

 #mobileMenuOpen{
 margin-top:50px;
display:block;
text-align: center;
}
#mobileMenuOpen a{
color:white;
font-weight:700;
font-size:25pt;

}

#mobileMenuClose{
position:absolute;
width: 100%;
display:none;
background-color:#455D59;
z-index:1546;
transition: all 2s ease;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
}
#mobileMenuClose ul{

}

#mobileMenuClose li{
text-align:center;
margin-top:10px;
font-size:25pt;
}


#mobileMenuClose li a{
color:#F1F1F1;
font-weight: 400;
}


#mobileMenuClose li a:hover{

}

#mobileMenuClose li a.active{
text-decoration:underline;
}

a#closeButton{

}



#process1{
margin-top:40px;
}

#process1 h1{
color:#B28734;
text-align:center;
font-weight:400;
font-size: 23pt;
}



.process1Part{

margin-left:0px;
margin-top:30px;
padding:0px;
height:350px;
overflow:hidden;
}


 
.process1Part h2.processTitle{
position:relative;
display:inline;
color:#B28734;
width:50%;
text-align: center;
top:10px;
left:10px;
font-weight:700;
font-size:30pt;
}



.process1Part img{
position:relative;
width:20%;
float:right;
top: 20px;
}





.lightboxMain img{
display:none;
}
.lightboxThumbs img{
width:80px;margin-right: 10px;cursor: pointer;border:1px solid black;
}

.catDesc{
position:relative;
top:10px;
width:100%;
height:auto;
}

.catDesc p{
position:relative;
padding:0px;
margin: 0px auto 0px auto;
margin-top: 10px;

width:300px;
text-align:left;
word-spacing:normal;

}

.catDesc h2{
  
  font-size:30pt;
}

.catDesc button{
  width: 100px;
top: 0px;
left: 0px;
font-size: 15pt;
}










 #call  h2{
  font-size:11pt;
 }

 #call img{
  width: 110px;
 }




 /**footer contents **/

.footerContents{
width:100%;
}


.footerButtons button{
 width:130px;
 margin-left:10px;
 font-size:7pt;
}

#termsButton{
width:130px;
float:left;
}

#privacyButton{
width:130px;
float:right;
}


.footerButtons button:hover{
color:#34403c;
background-color:#F0CF8F;
font-weight:400;
letter-spacing:0px;
}

.footerContents p{
font-size:75%;
}


 
}
